<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Xtream_ToolBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Xtream_ToolBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Xtream_ToolBox.Properties.Settings>
            <setting name="posX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="posY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="opacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="lockPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="recycleBinRefreshTime" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="sysInfosRefreshTime" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="disableDeleteConfirmation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shutdownManagerLowerActionConfirmation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shutdownManagerUpperActionConfirmation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="quickLauncherOnlyOneLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="magneticScreenBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="firstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="displayMode" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="textColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="notepadTxt" serializeAs="String">
                <value />
            </setting>
            <setting name="notificationPopup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="weatherCode" serializeAs="String">
                <value>London, UK</value>
            </setting>
            <setting name="spaceBetweenSensor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="lastToolboxWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="networkLanConnexion" serializeAs="String">
                <value />
            </setting>
            <setting name="networkLanBandwith" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="networkInternetConnexion" serializeAs="String">
                <value />
            </setting>
            <setting name="networkInternetUpload" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="networkInternetDownload" serializeAs="String">
                <value>8192</value>
            </setting>
            <setting name="useProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="proxyUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="timeServerUrl" serializeAs="String">
                <value>time.windows.com</value>
            </setting>
            <setting name="timeAutoSynch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timeLastSynch" serializeAs="String">
                <value />
            </setting>
            <setting name="extendedInfosPanel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="proxyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="hintsAfter" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="hintsLength" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="QuicklaunchSeparatorWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="popCheckerRefreshTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="hintsActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lineCpu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lineRam" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lineLanD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lineWanD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lineLanU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lineWanU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="spamRule1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="spamRule1Data" serializeAs="String">
                <value />
            </setting>
            <setting name="spamRule2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="spamRule2Data" serializeAs="String">
                <value />
            </setting>
            <setting name="spamRule3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="spamRule3Data" serializeAs="String">
                <value />
            </setting>
            <setting name="spamRule4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="spamRule4Data" serializeAs="String">
                <value />
            </setting>
            <setting name="spamAutoDelete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="spamRule5Data" serializeAs="String">
                <value />
            </setting>
            <setting name="spamRule5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="spamRule6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="spamRule6Data" serializeAs="String">
                <value />
            </setting>
            <setting name="sysInfoDisplayMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="defaultEmailClient" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="nd1Path" serializeAs="String">
                <value />
            </setting>
            <setting name="nd2Path" serializeAs="String">
                <value />
            </setting>
            <setting name="nd3Path" serializeAs="String">
                <value />
            </setting>
            <setting name="nd1DriveLetter" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="nd2DriveLetter" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="nd3DriveLetter" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="defaultTextEditor" serializeAs="String">
                <value />
            </setting>
            <setting name="hintsReshow" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="shutdownManagerDefaultActionUpperButton" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="shutdownManagerDefaultActionLowerButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="proxyPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="calendarUrl" serializeAs="String">
                <value>https://calendar.google.com</value>
            </setting>
            <setting name="contactsUrl" serializeAs="String">
                <value>https://contacts.google.com</value>
            </setting>
        </Xtream_ToolBox.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Xtream_ToolBox.Properties.Settings>
      <setting name="_version" serializeAs="String">
        <value>2018.12.31</value>
      </setting>
    </Xtream_ToolBox.Properties.Settings>
  </applicationSettings>
</configuration>
