<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.GData.AccessControl" version="2.2.0.0" targetFramework="net4" />
  <package id="Google.GData.Calendar" version="2.2.0.0" targetFramework="net4" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net4" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
</packages>